<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postmortem - Gaps Identification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='slimselect.css') }}">
</head>
<body>
    <button style="background-color: #ff6200;" class="w-100 btn text-light rounded-0" id="create-row-btn">Add Postmortem Info</button>
    <button class=" w-100 btn btn-primary text-light rounded-0" id="edit-postmortem">Edit postmortem</button>
    <button class=" w-100 btn btn-success text-light rounded-0" id="excel-export">Export data to excel</button>
    <!--  edit table modal  -->
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-center z-2" role="document">
            <div style="width: 1150px;" class="modal-content">
                <div class="modal-header container text-center">
                    <div class="w-100 d-flex justify-content-between">
                        <div class="col text-start equal-width">
                            <h2 class="mt-4 mb-4">Edit postmortem</h2>
                        </div>
                        <div class="col equal-width">
                            <div class="input-group mb-3 mt-4 input-group-custom">
                                <span class="input-group-text" id="basic-addon2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                                        <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"/>
                                    </svg>
                                </span>
                                <input type="text" id="userFilterEdit" class="form-control" placeholder="Filter for incident or user" aria-label="Username" aria-describedby="basic-addon2">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body" style="max-height: 500px; overflow-y: auto;">
                    <table class="table" id="rows-table-edit">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Incident</th>
                                <th scope="col">Prep</th>
                                <th scope="col">Assigned To</th>
                                <th scope="col">Issue Date</th>
                                <th scope="col">In Scope</th>
                                <th scope="col">Comments</th>
                                <th scope="col">Identified Issue</th>
                                <th scope="col">RCA</th>
                                <th scope="col">Technology</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in all_rows %}
                                <tr id="{{ row.id }}">
                                    <th scope="row">{{ row.id }}</th>
                                    <td>{{ row.incident }}</td>
                                    <td>{{ row.prep }}</td>
                                    <td>{{ row.assigned_to }}</td>
                                    <td>{{ row.issue_date }}</td>
                                    <td>{{ row.in_scope }}</td>
                                    <td>{{ row.comments }}</td>
                                    <td>{{ row.identified_issue }}</td>
                                    <td>{{ row.rca }}</td>
                                    <td>{{ row.technology }}</td>
                                    <td>
                                        <button class="btn btn-primary edit-row-btn">Edit</button>
                                        <button class="btn btn-danger delete-row-btn">Delete</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save-changes">Save changes</button>
                </div>
            </div>
        </div>
        <div style="height: 100%;" class="w-100 bg-secondary fixed-top z-1 opacity-25" id="modal-backdrop"></div>
    </div>

    <!--  main section  -->
    <div class="w-50 container d-flex-column justify-content-center">
        <h1 class="mt-3 mb-3">Postmortem Info</h1>
        <form id="row-form" method="POST" action="/">
            {{ form.hidden_tag() }}
            <div class="mt-4 mb-4">
                <label for="incident">Incident:</label>
                <input type="text" class="form-control" required id="incident" name="incident" placeholder="Provide incident reference">
            </div>

            <div class="mt-4 mb-4">
                <div class="col-sm-6">
                    <div class="input-group input-group-sm gap-2">
                        <label class="form-check-label" for="prep_checkbox">Prep</label>
                        <input type="checkbox" style="accent-color: #ff6200;" class="form-check" id="prep_checkbox" name="prep_checkbox">
                    </div>
                </div>
                <label for="prep_date" id="prep_date_label">Prep date:</label>
                <input type="date" style="accent-color: #ff6200;" class="form-control" id="prep_date" name="prep_date">
            </div>

            <div class="mt-4 mb-4">
                <label for="assigned_to">Assigned To:</label>
                <select class="form-control" id="assigned_to" name="assigned_to" multiple>

                </select>
            </div>

            <div class="mt-4 mb-4">
                <label for="issue_date">Issue Date:</label>
                <input type="date" style="accent-color: #ff6200;" class="form-control" required id="issue_date" name="issue_date">
            </div>

            <div class="col-sm-6">
                <div class="input-group input-group-sm gap-2">
                    <label class="form-check-label" for="in_scope">In scope</label>
                    <input type="checkbox" style="accent-color: #ff6200;" class="form-check" id="in_scope" name="in_scope">
                </div>
            </div>

            <div class="mt-4 mb-4">
                <label for="comments">Comments:</label>
                <textarea id="comments" class="form-control" name="comments" placeholder="Provide additional information if necessary"></textarea>
            </div>

            <div class="mt-4 mb-4">
                <label for="identified_issue">Choose identified issue or add new one</label>
                <select class="form-control" id="identified_issue" name="identified_issue" multiple>
                </select>
            </div>

            <div class="mt-4 mb-4">
                <label for="technology">Choose technology or add new one</label>
                <select class="form-control" id="technology" name="technology" multiple>
                </select>
            </div>

            <div class="mt-4 mb-4 d-flex flex-column gap-2">
                <label>Root Cause Analysis</label>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pick Root Cause</button>
                    <div style="margin-top: 37px;" class="dropdown-menu w-100">
                        <span class="dropdown-item">Caused by Change</span>
                        <span class="dropdown-item">Data error</span>
                        <span class="dropdown-item">Provider error</span>
                        <span class="dropdown-item">Business User error</span>
                        <span class="dropdown-item">Security - Access</span>
                        <span class="dropdown-item">Security - Other</span>
                        <span class="dropdown-item">Security - Lost/stolen</span>
                        <span class="dropdown-item">Power failure</span>
                        <span class="dropdown-item">Capacity issue</span>
                        <span class="dropdown-item">Design issue</span>
                        <span class="dropdown-item">External cause</span>
                        <span class="dropdown-item">Application error</span>
                        <span class="dropdown-item">Infrastructure error</span>
                        <div class="dropdown-divider"></div>
                        <span class="dropdown-item">Unknown</span>
                    </div>
                </div>
            </div>
            <input type="hidden" id="rca" name="rca">

            <button style="background-color: #ff6200;" type="submit" id="submit" class="w-100 btn text-light mb-4">Add info</button>
        </form>
    </div>

    <div class="w-100 container d-flex flex-column mx-auto justify-content-center">
        <div class="container text-center">
            <div class="row">
                <div class="col text-start equal-width">
                    <h2 class="mt-4 mb-4">Postmortem table</h2>
                </div>
                <div class="col equal-width">
                    <div class="input-group mb-3 mt-4 input-group-custom">
                        <span class="input-group-text" id="basic-addon1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                                <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"/>
                            </svg>
                        </span>
                        <input type="text" id="userFilter" class="form-control" placeholder="Filter for incident or user" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
        </div>
        <table class="table" id="rows-table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Incident</th>
                    <th scope="col">Prep</th>
                    <th scope="col">Assigned To</th>
                    <th scope="col">Issue Date</th>
                    <th scope="col">In Scope</th>
                    <th scope="col">Comments</th>
                    <th scope="col">Identified Issue</th>
                    <th scope="col">RCA</th>
                    <th scope="col">Technology</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        <th scope="row">{{ row.id }}</th>
                        <td>{{ row.incident }}</td>
                        <td>{{ row.prep }}</td>
                        <td>{{ row.assigned_to }}</td>
                        <td>{{ row.issue_date }}</td>
                        <td>{{ row.in_scope }}</td>
                        <td>{{ row.comments }}</td>
                        <td>{{ row.identified_issue }}</td>
                        <td>{{ row.rca }}</td>
                        <td>{{ row.technology }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item" id="previousPage">
                    <a class="page-link" href="#">Previous</a>
                </li>
                {% for page_num in rows.iter_pages() %}
                    {% if page_num %}
                        <li class="page-item {% if page_num == rows.page %}active{% endif %}">
                            <a class="page-link" id="page{{ page_num }}" href="#">{{ page_num }}</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">...</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="page-item" id="nextPage">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <script src="{{url_for('static', filename='slimselect.min.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
    <script>
        const prepCheckbox = document.getElementById("prep_checkbox");
        const prepDate = document.getElementById("prep_date");
        const prepDateLabel = document.getElementById("prep_date_label");

        prepDate.style.display = "none";
        prepDateLabel.style.display = "none";

        document.getElementById("row-form").style.display = "none";
        document.getElementsByTagName("h1")[0].style.display = "none";

        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }

        prepCheckbox.addEventListener("change", function() {
            if (this.checked) {
                prepDate.style.display = "block";
                prepDateLabel.style.display = "block";
            } else {
                prepDate.style.display = "none";
                prepDateLabel.style.display = "none";
            }
        });

        document.getElementById("create-row-btn").addEventListener("click", function() {
            const display = document.getElementById("row-form").style.display;

            switch(display) {
                case 'none':
                    document.getElementById("row-form").style.display = "block";
                    document.getElementsByTagName("h1")[0].style.display = "block";

                    fetch('/get_issues')
                        .then(response => response.json())
                        .then(data => {
                            new SlimSelect({
                                select: '#identified_issue',
                                data: [
                                    {
                                        label: 'Identified Issues',
                                        options: data,
                                        placeholder: true,
                                        text: 'Select identified issue'
                                    }
                                ],
                                events: {
                                    addable: function (value) {
                                        if (value === 'bad') {
                                            return false;
                                        }

                                        return {
                                            text: value,
                                            value: value.toLowerCase()
                                        };
                                    }
                                }
                            });
                        })
                        .catch(error => console.error('Error fetching issues:', error));

                    fetch('/get_technologies')
                    .then(response => response.json())
                    .then(data => {
                        new SlimSelect({
                            select: '#technology',
                            data: [
                                {
                                    label: 'Technologies',
                                    options: data,
                                    placeholder: true,
                                    text: 'Select technology'
                                }
                            ],
                            events: {
                                addable: function (value) {
                                    if (value === 'bad') {
                                        return false;
                                    }

                                    return {
                                        text: value,
                                        value: value.toLowerCase()
                                    };
                                }
                            }
                        });
                    })
                    .catch(error => console.error('Błąd pobierania technologii:', error));

                    break;

                case 'block':
                    document.getElementById("row-form").style.display = "none";
                    document.getElementsByTagName("h1")[0].style.display = "none";

                    break;

                default:
                    document.getElementById("row-form").style.display = "none";
                    document.getElementsByTagName("h1")[0].style.display = "none";

                    break;
            }
        });

        document.addEventListener("DOMContentLoaded", async () => {
            const dropdownButton = document.querySelector(".dropdown-toggle");
            const dropdownMenu = document.querySelector(".dropdown-menu");
            const dropdownItems = document.querySelectorAll(".dropdown-item");

            dropdownMenu.style.display = "none";

            dropdownButton.addEventListener("click", () => {
                if (dropdownMenu.style.display === "block") {
                    dropdownMenu.style.display = "none";
                } else {
                    dropdownMenu.style.display = "block";
                }
            });

            dropdownItems.forEach(item => {
                item.addEventListener("click", () => {
                    const selectedValue = item.textContent.trim();
                    document.getElementById("rca").value = selectedValue;
                    dropdownMenu.style.display = "none";
                });
            });

            document.addEventListener("click", (event) => {
                if (!dropdownButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
                    dropdownMenu.style.display = "none";
                }
            });

            const form = document.getElementById("row-form");

            form.addEventListener("submit", (event) => {
                event.preventDefault();

                const identifiedIssueSelect = document.getElementById('identified_issue');
                const selectedOptions = Array.from(identifiedIssueSelect.selectedOptions).map(option => option.value);
                const selectedIssues = selectedOptions.join(', ');

                const employeesSelect = document.getElementById('assigned_to');
                const selectedEmployees = Array.from(employeesSelect.selectedOptions).map(option => option.value);
                const selectedUsers = selectedEmployees.join(', ');

                const technologySelect = document.getElementById('technology');
                const selectedTechnologies = Array.from(technologySelect.selectedOptions).map(option => option.value);
                const selectedTechnology = selectedTechnologies.join(', ');


                document.getElementById('identified_issue').value = selectedIssues;
                document.getElementById('assigned_to').value = selectedUsers;
                document.getElementById('technology').value = selectedTechnology;

                const formData = new FormData(event.target);
                formData.append('identified_issue', selectedIssues);
                formData.append('assigned_to', selectedUsers);
                formData.append('technology', selectedTechnology);

                fetch('/', {
                    method: 'POST',
                    body: formData
                })
                .then(response => {
                    if (response.ok) {
                        console.log('Form submitted successfully');
                    } else {
                        console.error('Unable to send identified issue.');
                    }
                })
                .catch(error => console.error('Error:', error));

                location.reload();
            });

            const editPostmortem = document.getElementById("edit-postmortem");
            const modal = document.getElementById('exampleModal');
            const modalBackdrop = document.getElementById('modal-backdrop');

            modalBackdrop.style.display = "none";
            modal.style.display = "none";

            editPostmortem.addEventListener("click", () => {
                if (modal.style.display === "none") {
                    modal.style.display = "block";
                    modalBackdrop.style.display = "block";

                } else {
                    modal.style.display = "none";
                }
            });

            modalBackdrop.addEventListener("click", () => {
                modal.style.display = "none";
                modalBackdrop.style.display = "none";

                location.reload();
            });

            document.querySelectorAll(".delete-row-btn").forEach(button => {
                button.addEventListener("click", function() {
                    const row = this.closest("tr");
                    const rowId = row.getAttribute("id");

                    fetch(`/delete_row/${rowId}`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/x-www-form-urlencoded",
                            "X-CSRFToken": "{{ csrf_token() }}"
                        },
                    }).then(response => {
                        if (response.ok) {
                            row.remove();
                        } else {
                            console.error('Failed to delete the row.');
                        }
                    }).catch(error => console.error('Error:', error));
                });
            });

            const editedRows = new Set();
            let finalSelectedOptions = '';

            let availableTechnologies = [];
            try {
                const response = await fetch('/get_technologies');
                availableTechnologies = await response.json();
            } catch (error) {
                console.error('Error fetching technologies:', error);
            }

            if (!Array.isArray(availableTechnologies)) {
                console.error('Fetched technologies are not an array:', availableTechnologies);
                availableTechnologies = [];
            }

            console.log(availableTechnologies)

            document.querySelectorAll('.edit-row-btn').forEach(button => {
                button.addEventListener('click', function() {
                    const row = this.closest('tr');
                    const cells = row.querySelectorAll('td');

                    const incident = cells[0].textContent.trim();
                    const prep = cells[1].textContent.trim();
                    const assignedTo = cells[2].textContent.trim();
                    const issue_date = cells[3].textContent.trim();
                    const inScope = cells[4].textContent.trim();
                    const comments = cells[5].textContent.trim();
                    const identified_issue = cells[6].textContent.trim();
                    const rca = cells[7].textContent.trim();
                    const technology = cells[8].textContent.trim();

                    const availableAssignedToOptions = [
                        'RaAd',
                        'JaBe',
                        'PiCz',
                        'ZuDą',
                        'AdGo',
                        'ArIr',
                        'GrKo',
                        'KrLa',
                        'MiŁu',
                        'DoMe',
                        'MaSi',
                        'ToWi',
                        'RaZa',
                        'MaZi'
                    ];

                    const dropdownOptions = availableAssignedToOptions.map(option => {
                        return `<option value="${option}" ${assignedTo.includes(option) ? 'selected' : ''}>${option}</option>`;
                    });

                    const technologyOptions = availableTechnologies.map(option => {
                        return `<option value="${option.text}" ${technology.includes(option.text) ? 'selected' : ''}>${option.text}</option>`;
                    });

                    console.log(technologyOptions)

                    cells[0].innerHTML = `<input type="text" class="form-control" name="incident_${row.id}" value="${incident}" placeholder="${incident}">`;
                    cells[1].innerHTML = `<input type="text" class="form-control" name="prep_${row.id}" value="${prep}" placeholder="${prep}">`;
                    cells[2].innerHTML = `<select id="selectElement-${row.id}" class="form-control" name="assigned_to_${row.id}" multiple>${dropdownOptions}</select>`;
                    cells[3].innerHTML = `<input type="date" class="form-control" name="issue_date_${row.id}" value="${issue_date}" placeholder="${issue_date}">`;
                    cells[4].innerHTML = `<input type="checkbox" class="form-check-input" name="in_scope_${row.id}" ${inScope === 'Yes' ? 'checked' : ''}>`;
                    cells[5].innerHTML = `<textarea class="form-control" name="comments_${row.id}" placeholder="${comments}">${comments}</textarea>`;
                    cells[6].innerHTML = `<input type="text" class="form-control" name="identified_issue_${row.id}" value="${identified_issue}" placeholder="${identified_issue}">`
                    cells[7].innerHTML = `<input type="text" class="form-control" name="rca_${row.id}" value="${rca}" placeholder="${rca}">`;
                    cells[8].innerHTML = `<select id="technologySelect-${row.id}" class="form-control" name="technology_${row.id}" multiple>${technologyOptions}</select>`;

                    new SlimSelect({
                        select: `#selectElement-${row.id}`
                    });

                    new SlimSelect({
                        select: `#technologySelect-${row.id}`
                    });

                    const selectElement = cells[2].querySelector('select');
                    const selectTechs = cells[8].querySelector('select');

                    selectElement.addEventListener('change', function() {
                        const selectedOptions = Array.from(selectElement.selectedOptions).map(option => option.value);
                        finalSelectedOptions = selectedOptions.join(', ');
                        console.log('Selected options:', finalSelectedOptions);
                    });

                    selectTechs.addEventListener('change', function() {
                        const selectedTechs = Array.from(selectTechs.selectedOptions).map(option => option.value);
                        const finalSelectedTechs = selectedTechs.join(', ');
                        console.log('Selected options:', finalSelectedTechs);
                    })

                    this.style.display = 'none';

                    editedRows.add(row.id);

                });
            });

            const saveButton = document.getElementById('save-changes');

            if (saveButton) {
                saveButton.addEventListener('click', function() {
                    const editedRowsData = [];
                    const csrfToken = '{{ csrf_token() }}';

                    document.querySelectorAll('tr[id]').forEach(row => {
                        if (editedRows.has(row.id)) {
                            const rowData = { id: row.id };
                            row.querySelectorAll('input, textarea, select').forEach(input => {
                                const name = input.name;
                                if (input.tagName.toLowerCase() === 'select' && input.multiple) {
                                    rowData[name] = Array.from(input.selectedOptions).map(option => option.value).join(', ');
                                } else if (input.type === 'checkbox') {
                                    rowData[name] = input.checked ? 'Yes' : 'No';
                                    if (!input.checked) {
                                        rowData[name] = 'No';
                                    }
                                } else {
                                    rowData[name] = input.value;
                                }
                            });

                            editedRowsData.push(rowData);
                        }
                    });

                    const formData = new URLSearchParams();
                    formData.append('csrf_token', csrfToken);

                    editedRowsData.forEach((rowData) => {
                        for (const key in rowData) {
                            formData.append(`${key}`, rowData[key]);
                        }
                    });

                    console.log('Form Data:', formData.toString());

                    fetch(`/save_changes`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/x-www-form-urlencoded",
                            "X-CSRFToken": csrfToken
                        },
                        body: formData.toString()
                    }).then(response => {
                        if (response.ok) {
                            console.log('Changes saved successfully.');

                            editedRows.forEach(rowId => {
                                const row = document.getElementById(rowId);
                                const cells = row.querySelectorAll('td');

                                cells[0].textContent = row.querySelector(`[name="incident_${rowId}"]`).value;
                                cells[1].textContent = row.querySelector(`[name="prep_${rowId}"]`).value;
                                const assignedToSelect = document.createElement('select');
                                const selectedOptions = Array.from(row.querySelectorAll(`[name="assigned_to_${rowId}"] option[selected]`));
                                selectedOptions.forEach(option => {
                                    assignedToSelect.appendChild(option.cloneNode(true));
                                });
                                cells[3].textContent = row.querySelector(`[name="issue_date_${rowId}"]`).value;
                                cells[4].textContent = row.querySelector(`[name="in_scope_${rowId}"]`).checked ? 'Yes' : 'No';
                                cells[5].textContent = row.querySelector(`[name="comments_${rowId}"]`).value;
                                cells[6].textContent = row.querySelector(`[name="identified_issue_${rowId}"]`).value;
                                cells[7].textContent = row.querySelector(`[name="rca_${rowId}"]`).value;
                                // cells[8].textContent = row.querySelector(`[name="technology_${rowId}"]`).value;
                                const technologiesSelect = document.createElement('select');
                                const selectedTechnologyOptions = Array.from(row.querySelectorAll(`[name="technology_${rowId}"] option[selected]`));
                                selectedTechnologyOptions.forEach(option => {
                                    technologiesSelect.appendChild(option.cloneNode(true));
                                });
                            });

                            editedRows.clear();

                            const editButtons = document.querySelectorAll('.edit-row-btn');

                            editButtons.forEach(button => {
                                button.style.display = 'block';
                            });

                        } else {
                            console.error('Failed to save changes.');
                        }
                    }).catch(error => console.error('Error:', error));
                });
            }

            new SlimSelect({
                select: '#assigned_to',
                data: [
                    {
                        label: 'Assigned To',
                        options: [
                            { text: 'RaAd', value: 'RaAd' },
                            { text: 'JaBe', value: 'JaBe' },
                            { text: 'PiCz', value: 'PiCz' },
                            { text: 'ZuDą', value: 'ZuDą' },
                            { text: 'AdGo', value: 'AdGo' },
                            { text: 'ArIr', value: 'ArIr' },
                            { text: 'GrKo', value: 'GrKo' },
                            { text: 'KrLa', value: 'KrLa' },
                            { text: 'MiŁu', value: 'MiŁu' },
                            { text: 'DoMe', value: 'DoMe' },
                            { text: 'MaSi', value: 'MaSi' },
                            { text: 'ToWi', value: 'ToWi' },
                            { text: 'RaZa', value: 'RaZa' },
                            { text: 'MaZi', value: 'MaZi' }
                        ],
                        placeholder: true,
                        text: 'Select assigned to'
                    }
                ],
                events: {
                    addable: function (value) {
                        if (value === 'bad') {
                            return false;
                        }

                        return {
                            text: value,
                            value: value.toLowerCase()
                        };
                    }
                }
            });

            const filterInput = document.getElementById("userFilter");
            const prevPageBtn = document.getElementById("previousPage");
            const nextPageBtn = document.getElementById("nextPage");
            const rowsPerPage = 10;
            let currentPage = 1;
            let totalPages = 0;

            async function fetchRows(filter = '', page = 1) {
                const response = await fetch(`/get_rows?filter=${filter}&page=${page}&rows_per_page=${rowsPerPage}`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });

                if (!response.ok) {
                    console.error('Unable to fetch rows.');
                    return { rows: [], total: 0 };
                }

                const data = await response.json();
                totalPages = data.pages;
                return data.rows;
            }

            function displayRows(rows) {
                const tableBody = document.querySelector("#rows-table tbody");
                tableBody.innerHTML = '';

                rows.forEach((row) => {
                    const rowElement = document.createElement('tr');
                    rowElement.innerHTML = `
                        <td>${row.id}</td>
                        <td>${row.incident}</td>
                        <td>${row.prep}</td>
                        <td>${row.assigned_to}</td>
                        <td>${row.issue_date}</td>
                        <td>${row.in_scope}</td>
                        <td>${row.comments}</td>
                        <td>${row.rca}</td>
                        <td>${row.identified_issue}</td>
                        <td>${row.technology}</td>
                    `;
                    tableBody.appendChild(rowElement);
                });
            }

            function updatePaginationButtons() {
                if (currentPage === 1) {
                    prevPageBtn.classList.add('disabled');
                } else {
                    prevPageBtn.classList.remove('disabled');
                }

                if (currentPage === totalPages) {
                    nextPageBtn.classList.add('disabled');
                } else {
                    nextPageBtn.classList.remove('disabled');
                }
            }

            async function filterRows() {
                const filterValue = filterInput.value.toLowerCase();
                currentPage = 1;
                const rows = await fetchRows(filterValue, currentPage);
                displayRows(rows);
                updatePaginationButtons();

                document.querySelectorAll('.page-item').forEach((item) => {
                    item.classList.remove('active');
                });

                const firstPageElement = document.getElementById(`page${currentPage}`);
                if (firstPageElement) {
                    firstPageElement.parentElement.classList.add('active');
                } else {
                    console.error(`Element with id 'page${currentPage}' does not exist.`);
                }
            }

            filterInput.addEventListener("keyup", filterRows);

            document.querySelectorAll('.page-link').forEach((pageBtn) => {
                pageBtn.addEventListener('click', async (event) => {
                    event.preventDefault();
                    const targetPageText = event.target.innerText.trim();
                    const targetPage = parseInt(targetPageText);

                    if (!isNaN(targetPage)) {
                        if (targetPage !== currentPage) {
                            currentPage = targetPage;
                            const filterValue = filterInput.value.toLowerCase();
                            const rows = await fetchRows(filterValue, currentPage);
                            displayRows(rows);

                            document.querySelectorAll('.page-item').forEach((item) => {
                                item.classList.remove('active');
                            });

                            if (event.target.parentElement) {
                                event.target.parentElement.classList.add('active');
                            } else {
                                console.error("Parent element does not exist.");
                            }

                            updatePaginationButtons();
                        }
                    }
                });
            });

            prevPageBtn.addEventListener("click", async (event) => {
                event.preventDefault();
                if (currentPage > 1) {
                    currentPage--;
                    const filterValue = filterInput.value.toLowerCase();
                    const rows = await fetchRows(filterValue, currentPage);
                    displayRows(rows);

                    document.querySelectorAll('.page-item').forEach((item) => {
                        item.classList.remove('active');
                    });

                    const prevPageElement = document.getElementById(`page${currentPage}`);
                    if (prevPageElement) {
                        prevPageElement.parentElement.classList.add('active');
                    } else {
                        console.error(`Element with id 'page${currentPage}' does not exist.`);
                    }

                    updatePaginationButtons();
                }
            });

            nextPageBtn.addEventListener("click", async (event) => {
                event.preventDefault();
                if (currentPage < totalPages) {
                    currentPage++;
                    const filterValue = filterInput.value.toLowerCase();
                    const rows = await fetchRows(filterValue, currentPage);
                    displayRows(rows);

                    document.querySelectorAll('.page-item').forEach((item) => {
                        item.classList.remove('active');
                    });

                    const nextPageElement = document.getElementById(`page${currentPage}`);
                    if (nextPageElement) {
                        nextPageElement.parentElement.classList.add('active');
                    } else {
                        console.error(`Element with id 'page${currentPage}' does not exist.`);
                    }

                    updatePaginationButtons();
                }
            });

            (async () => {
                const rows = await fetchRows();
                displayRows(rows);
                updatePaginationButtons();
            })();

            document.getElementById('userFilterEdit').addEventListener('input', function() {
                const filter = this.value.toLowerCase();
                const rows = document.querySelectorAll('#rows-table-edit tbody tr');

                rows.forEach(row => {
                    const incident = row.cells[1].textContent.toLowerCase();
                    const assignedTo = row.cells[3].textContent.toLowerCase();

                    if (incident.includes(filter) || assignedTo.includes(filter)) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                });
            });

            document.getElementById("excel-export").addEventListener("click", function() {
                const tableData = [];

                const headers = [];
                document.querySelectorAll("#rows-table thead th").forEach(th => {
                    headers.push(th.innerText);
                });
                tableData.push(headers);

                document.querySelectorAll("#rows-table tbody tr").forEach(tr => {
                    const rowData = [];
                    tr.querySelectorAll("td").forEach(td => {
                        rowData.push(td.innerText);
                    });
                    tableData.push(rowData);
                });

                const wb = XLSX.utils.book_new();
                const ws = XLSX.utils.aoa_to_sheet(tableData);
                XLSX.utils.book_append_sheet(wb, ws, "Sheet1");

                XLSX.writeFile(wb, "data_export.xlsx");
            });
        });

    </script>
</body>
</html>