<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postmortem - Gaps Identification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>
<body>
    <button style="background-color: #ff6200;" class="w-100 btn text-light rounded-0" id="create-row-btn">Add Postmortem Info</button>

    <div class="w-50 container d-flex-column justify-content-center">

        <h1 class="mt-3 mb-3">Postmortem Info</h1>
        <form id="row-form" method="POST">
            <div class="mt-4 mb-4">
                <label for="incident">Incident:</label>
                <input type="text" class="form-control" required id="incident" name="incident" placeholder="Provide incident reference">
            </div>

            <div class="mt-4 mb-4">
                <div class="col-sm-6">
                    <div class="input-group input-group-sm gap-2">
                        <label class="form-check-label" for="prep_checkbox">Prep</label>
                        <input type="checkbox" style="accent-color: #ff6200;" class="form-check" id="prep_checkbox" name="prep_checkbox">
                    </div>
                </div>
                <label for="prep_date" id="prep_date_label">Prep date:</label>
                <input type="date" style="accent-color: #ff6200;" class="form-control" id="prep_date" name="prep_date">
            </div>

            <div class="mt-4 mb-4">
                <label for="assigned_to">Assigned To:</label>
                <input type="text" class="form-control" required id="assigned_to" name="assigned_to" placeholder="eg. JoDo (John Doe)">
            </div>

            <div class="mt-4 mb-4">
                <label for="date">Date:</label>
                <input type="date" style="accent-color: #ff6200;" class="form-control" required id="date" name="date">
            </div>

            <div class="col-sm-6">
                <div class="input-group input-group-sm gap-2">
                    <label class="form-check-label" for="in_scope">In scope</label>
                    <input type="checkbox" style="accent-color: #ff6200;" class="form-check" id="in_scope" name="in_scope">
                </div>
            </div>

            <div class="mt-4 mb-4">
                <label for="comments">Comments:</label>
                <textarea id="comments" class="form-control" name="comments" placeholder="Provide additional information if necessary"></textarea>
            </div>

            <div class="mt-4 mb-4">
                <label for="rca">Root Cause Analysis:</label>
                <textarea class="form-control" id="rca" name="rca" placeholder="Provide Root Cause Analysis if necessary"></textarea>
            </div>

            <button style="background-color: #ff6200;" type="submit" class="w-100 btn text-light mb-4">Add info</button>
        </form>
    </div>

    <div class="w-100 container d-flex flex-column mx-auto justify-content-center">
        <h2 class="mt-4 mb-4">Postmortem table</h2>
        <table class="table" id="rows-table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Incident</th>
                    <th scope="col">Prep</th>
                    <th scope="col">Assigned To</th>
                    <th scope="col">Date</th>
                    <th scope="col">In Scope</th>
                    <th scope="col">Comments</th>
                    <th scope="col">RCA</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        <th scope="row">{{ row.id }}</th>
                        <td>{{ row.incident }}</td>
                        <td>{{ row.prep }}</td>
                        <td>{{ row.assigned_to }}</td>
                        <td>{{ row.date }}</td>
                        <td>{{ row.in_scope }}</td>
                        <td>{{ row.comments }}</td>
                        <td>{{ row.rca }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        const prepCheckbox = document.getElementById("prep_checkbox");
        const prepDate = document.getElementById("prep_date");
        const prepDateLabel = document.getElementById("prep_date_label");

        prepDate.style.display = "none";
        prepDateLabel.style.display = "none";

        document.getElementById("row-form").style.display = "none";
        document.getElementsByTagName("h1")[0].style.display = "none";

        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }

        prepCheckbox.addEventListener("change", function() {
            if (this.checked) {
                prepDate.style.display = "block";
                prepDateLabel.style.display = "block";
            } else {
                prepDate.style.display = "none";
                prepDateLabel.style.display = "none";
            }
        });

        document.getElementById("create-row-btn").addEventListener("click", function() {
            const display = document.getElementById("row-form").style.display;

            switch(display) {
                case 'none':
                    document.getElementById("row-form").style.display = "block";
                    document.getElementsByTagName("h1")[0].style.display = "block";
                    break;

                case 'block':
                    document.getElementById("row-form").style.display = "none";
                    document.getElementsByTagName("h1")[0].style.display = "none";
                    break;

                default:
                    document.getElementById("row-form").style.display = "none";
                    document.getElementsByTagName("h1")[0].style.display = "none";
                    break;
            }
        });
    </script>
</body>
</html>